<launch>

    <include file="/home/omer/Desktop/deneme/TOF-VIO/launch/vio.launch"/>

    <node pkg="tof_vio" exec="gt_publisher" name="gt" output="log">
        <remap from="/gt/vicon" to="/gt"/>
    </node>

    <node pkg="tof_vio" exec="topic2file" name="odomfile" output="log">
        <remap from="/odom" to="/icp_odom"/>
        <param name="filepath" value="/home/omer/Desktop/deneme/TOF-VIO/result/icp+text.txt"/>
    </node>
    <node pkg="tof_vio" exec="topic2file" name="gtfile" output="log">
        <remap from="/odom" to="/gt/odom_gt"/>
        <param name="filepath" value="/home/omer/Desktop/deneme/TOF-VIO/result/gt.txt"/>
    </node>

    <!-- <executable cmd="ros2 bag play -a" output="screen" /> -->
    <!-- <node pkg="rosbag" type="play" name="rosbag" args="$(find tof_vio)/bag/handheld.bag"/> -->
    <!--<node pkg="rosbag" type="play" name="rosbag" args="$(find tof_vio)/bag/lab.bag -s9"/>-->
    <!--<node pkg="rosbag" type="play" name="rosbag" args="$(find tof_vio)/bag/fj005.bag -s3"/>-->
    <!--<node pkg="rosbag" type="play" name="rosbag" args="$(find tof_vio)/bag/2020-02-07-23-23-03.bag"/>-->

    <!--<node pkg="rosbag" type="play" name="rosbag" args="$(find tof_vio)/bag/corridor.bag"/>-->

</launch>

